/* ---------------------------------- */
/* Global styles used across the site */
/* ---------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

:root {
    --theme-black:#000000;
    --theme-white:#ffffff;
    --theme-orange:#ff9900;
}

html {
    font-family: "Fira Mono", monospace;
    font-size: 1rem;
    background-color: var(--theme-black);
    color: #ffffff;
}

/* "form reset" */
/* --> provide consistent base to work from */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

textarea {
  overflow: auto;
} 

form {
    border: 0.1rem solid var(--theme-white);
    border-radius: 1.5rem;
    padding: 1rem 2rem;
}

 input[type="file"]{
     /* Make the input field visually hidden to users
        while also maintaining its visibility to the browser
        for accessibility purposes (i.e., screen-readers and form-submission)
     */
     width: 0.01rem;
     height: 0.01rem;
     opacity: 0;
     overflow: hidden;


     /* Remove the input field from the normal document flow 
        so that it does not disrupt the positioning of sibling elements */
     position: absolute;
     z-index: 1;
}

.input-file{
    border:0.1rem solid var(--theme-white);
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
}

.input-file > span {
    display: inline-block;
    padding: 0.5rem;
}

.input-file > span:first-child {
    border-radius: inherit;
}

.input-file > span:last-child:before {
    content: '|';
    padding: 0.5rem;
}

.input-file:hover{
    background-color: var(--theme-orange);
    color: var(--theme-black);
}

/* CUSTOMIZATIONS */
.brand {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.btn-orange {
    color: var(--theme-orange)  ;
    border: 0.1rem solid var(--theme-orange);
    border-radius: 1.5rem;
    background: transparent;
}

.btn-orange:hover, 
.btn-orange:focus
{
    background-color: var(--theme-orange);
    color: var(--theme-black);
    cursor: pointer;
}

/* TODO */
.row {
    display: flex;    
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}


