/* ------------------------------------------------------------- */
/* Styles that apply specifically to our wav.html page           */
/* ------------------------------------------------------------- */

:root {
    --row-hover: hsla(0, 0%, 20%, 0.9);
    --row-click: hsla(0, 0%, 50%, 0.9);
}

.row-clicked {
    background-color: var(--row-click);
}

#audioFilesDetails {
    margin-top: 2rem;
}

#audioFilesDetails>tbody>tr:hover {
    background-color: var(--row-hover);
}

#audioFilesDetails>tbody>tr>td {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#audioPlayerContainer {
    text-align: center;
    padding:0;
    margin:0;
}

audio {
    height: 1.5rem;
    width: 100%;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0.2rem;
}